<!DOCTYPE html>
<html>
  <head>
    <title>IdeaBox</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>IdeaBox</h1>
    <form action='/' method='POST'>
      <p>
        Your Idea:
      </p>
      <input type='text' name='idea_title'/><br/>
      <textarea name='idea_description'></textarea><br/>
      <input type='submit'/>
    </form>
    <h3>Existing Ideas</h3>
      <div id = "list">
        <ul>
          <% ideas.each_with_index do |idea, id| %>
            <li>
              <%= idea.title %><br/>
              <%= idea.description %>
              <a href="/<%= id %>/edit"><button>Edit</button></a>
              <div id = "submit">
                <form action='/<%= id %>' method='POST'>
                  <input type="hidden" name="_method" value="DELETE">
                  <input type='submit' value="Delete"/>
                </form>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
  </body>
</html>