body {
	background-color: #85AFC1;
}

h1 {
    background: #BDD4DE;
    padding: 10px;
    text-align: center;
}

h1 + form {
    background: #BDD4DE;
    padding: 5px;
    text-align: center;
}

h3 {
    text-align: center;
}
#list {
	width: 300px; 
	margin-right: auto;
	margin-left: auto;
}

#submit {
    padding-left: 300px;
}
/*:enabled {
    padding: 10px;
}*/